.card {
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-header {
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

i {
    margin-right: 10px;
}