{% extends "client/base.html.twig" %}

{% block contenu %}

<div class="main-card mb-3 card">
    <div class="card-body">
        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Titre de l'UE</th>
                    <th>Connaissances</th>
                    <th>Compétences</th>
                </tr>
            </thead>
            <tbody>
                {% for ue in ues %}
                    <tr>
                        <td>{{ ue.titre }}</td>
                        <td>
                            <ul>
                                {% for connaissance in ue.connaissances %}
                                    <li>{{ connaissance }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for competence in ue.competences %}
                                    <li>{{ competence }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}
