<div class="container d-flex justify-content-center mt-3">
  <div class="btn-group" role="group" aria-label="Cycle program types">
    <a href="{{ path('liste_ues_par_licence') }}" class="btn btn-outline-primary" id="licence-btn">Licence</a>
    <a href="{{ path('liste_ues_par_master') }}" class="btn btn-outline-primary" id="master-btn">Master</a>
  </div>
</div>

<br>
