<nav class="navbar bg-primary" role="navigation" style="background:#0d6efd;">
	<div class="container">
	    <div class="navbar-header">
	        <span class="navbar-brand position-absolute top-50 start-30 translate-middle" style="font-size : 10px;">
            <h3>Maquette</h3>
        </span>
	    </div>
	    <div class="navbar-collapse collapse d-flex" id="bs-example-navbar-collapse-1" style="height: 5px;">
	        <ul class="nav navbar-nav">
		        <li class="dropdown d-flex">
		            <a href="{{path('login')}}"><i class="fa fa-user"></i><span> Connexion</span></a>
		        </li>
		    </ul>
	    </div>
	    <div class="clearfix"> </div>
	</div>
</nav>
<nav class="navbar nav_bottom" role="navigation">
 <div class="container">
    <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
    </div> 
    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav nav_1 d-inline">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">A propos</a></li>
            <li class="last"><a href="#">Contacts</a></li>
        </ul>
     </div>
   </div>
</nav>